In [167]:
import pandas as pd
import numpy as np
import mysql.connector as db

In [168]:
menu = pd.read_csv('menu.csv')
menu.head()

,id,food,price,ingredient
0,2c78ddef-acca-42a9-9c8d-d5419c0a29e9,پیتزا پپرونی,137000,کالباس پپرونی. فلفل دلمه.نان23سانتی.سس وپنیر م...
1,2c78ddef-acca-42a9-9c8d-d5419c0a29e9,پیتزا سیر و استیک,187000,راسته گوساله.قارچ.گوجه فرنگی.ذرت.نان23سانتی.سس...
2,2c78ddef-acca-42a9-9c8d-d5419c0a29e9,پیتزا گوشت و مرغ,164000,70گرم راسته گوساله طعم دارشده - 70گرم سینه مرغ...
3,2c78ddef-acca-42a9-9c8d-d5419c0a29e9,پیتزا قارچ و گوشت,139000,گوشت تازه طعم دارشده مخلوط گوساله و گوسفندی.پی...
4,2c78ddef-acca-42a9-9c8d-d5419c0a29e9,پیتزا مرغ و قارچ,135000,فیله و سینه مرغ.قارچ.نان23سانتی.سس وپنیر مخصوص...

In [169]:
restaurant = pd.read_csv('delino_api_data_csv.csv')
restaurant.head()

,id,name,cityId,address,rate,fullAddress,rateCount,deliveryDuration,typeId,menu
0,2c78ddef-acca-42a9-9c8d-d5419c0a29e9,فست فود بلوط,1,باغ فیض,4.04,باغ فیض، خیابان 22بهمن، خیابان شهید ناطق نوری،...,249,0,1.0,"[{'title': 'پیتزا مخصوص', 'price': 154000, 'in..."
1,da9ef4fd-53db-4e9f-8e65-e6d0b70f08e6,رستوران نایب,1,سعادت آباد، میدان کاج,4.41,سعادت آباد، میدان کاج، مرکز تجاری ابریشم,491,0,1.0,"[{'title': 'چلو کباب برگ ممتاز', 'price': 3700..."
2,79c3981a-abcc-4488-896b-0a1011ab8158,رستوران بوکا,1,نیاوران,4.51,نیاوران، شمال کاخ نیاوران، خیابان پور ابتهاج، ...,264,0,1.0,"[{'title': 'فیله بره', 'price': 440000, 'ingre..."
3,e5e698e3-5b34-4292-b64e-564d2f0a416d,پیتزا پاپیون,1,گیشا,4.44,گیشا، نبش خیابان 31,502,0,1.0,"[{'title': 'پیتزا پاپیون', 'price': 160000, 'i..."
4,a6b256dc-d417-4592-9ad1-28ba4f9c5bae,فست فود دهه شصت,1,نیاوران، جمشیدیه,3.73,نیاوران، جمشیدیه، انتهای فیضیه، تقاطع امیدوار،...,55,0,1.0,"[{'title': 'پیتزا دلوکس', 'price': 185000, 'in..."

In [170]:
db_host = "localhost"
db_user = "root"
db_password = ""
db_name = "delino_db"

In [171]:
db_conn = db.connect(
  host=db_host,
  user=db_user,
  password=db_password
)

if db_conn :
    print("Connection to MYSQL successfully....")

Connection to MYSQL successfully....

In [172]:
cursor = db_conn.cursor()

In [173]:
create_database = cursor.execute("CREATE DATABASE {db_name}".format(db_name=db_name))

print("Database created successfully....")

Database created successfully....

In [174]:
db = db.connect(
  host=db_host,
  user=db_user,
  password=db_password,
  database=db_name
)

In [175]:
cursor = db.cursor()

In [176]:
cursor.execute("CREATE TABLE city(city_id INT AUTO_INCREMENT PRIMARY KEY,city_name VARCHAR(100), city_code VARCHAR(100))")

In [177]:
cursor.execute("CREATE TABLE restaurant_info(restaurant_id INT PRIMARY KEY,restaurant_csv_id VARCHAR(100),name VARCHAR(100),delivery_duration VARCHAR(100),res_type VARCHAR(100))")

In [178]:
cursor.execute("CREATE TABLE address(address_id INT AUTO_INCREMENT PRIMARY KEY,city_id INT,restaurant_id INT,restaurant_csv_id VARCHAR(100),area VARCHAR(100),full_address TEXT,FOREIGN KEY (`city_id`) REFERENCES `city` (`city_id`),FOREIGN KEY (`restaurant_id`) REFERENCES `restaurant_info` (`restaurant_id`))")

In [179]:
cursor.execute("CREATE TABLE rating(rating_id INT AUTO_INCREMENT PRIMARY KEY,restaurant_id INT,restaurant_csv_id VARCHAR(100),rate VARCHAR(100),rate_count VARCHAR(100),FOREIGN KEY (`restaurant_id`) REFERENCES `restaurant_info` (`restaurant_id`))")

In [180]:
cursor.execute("CREATE TABLE menu(menu_id INT AUTO_INCREMENT PRIMARY KEY,restaurant_id INT,restaurant_csv_id VARCHAR(100), food_title VARCHAR(100),price VARCHAR(100),ingredient TEXT,FOREIGN KEY (`restaurant_id`) REFERENCES `restaurant_info` (`restaurant_id`))")

In [181]:
city  = [
    { 'name': 'tehran', 'code' : 1},
    { 'name': 'qom', 'code' : 1003},
    { 'name': 'bandarabas', 'code' : 1005},
    { 'name': 'karaj', 'code' : 1007},
    { 'name': 'rasht', 'code' : 1008},
    { 'name': 'gorgan', 'code' : 1009},
    { 'name': 'hamedan', 'code' : 1011},
    { 'name': 'yazd', 'code' : 1012},
    { 'name': 'oroumiye', 'code' : 1013},
    { 'name': 'gonbad kavoos', 'code' : 1015},
    { 'name': 'arak', 'code' : 1033},
]

In [182]:
for i in range(len(city)) :
    sal_city = ""
    val_city = ""
    sql_city = "INSERT INTO city (city_name,city_code ) VALUES (%s, %s)"
    val_city = (city[i]['name'], city[i]['code'])
    cursor.execute(sql_city, val_city)
    db.commit()

In [183]:
restaurant.columns

Index(['id', 'name', 'cityId', 'address', 'rate', 'fullAddress', 'rateCount',
       'deliveryDuration', 'typeId', 'menu'],
      dtype='object')

In [184]:
for index, row in restaurant.iterrows() :
    sal_res = ""
    val_res = ""
    sql_res = "INSERT INTO restaurant_info (restaurant_id,restaurant_csv_id,name,delivery_duration,res_type) VALUES (%s, %s, %s, %s, %s)"
    val_res = (index+1,row['id'], row['name'], row['deliveryDuration'], row['typeId'])
    cursor.execute(sql_res, val_res)
    db.commit()

In [185]:
restaurant.columns

Index(['id', 'name', 'cityId', 'address', 'rate', 'fullAddress', 'rateCount',
       'deliveryDuration', 'typeId', 'menu'],
      dtype='object')

In [ ]:
for index, row in restaurant.iterrows() :
    sal_add = ""
    val_add = ""
    sql_add = "INSERT INTO address (city_id,restaurant_id,restaurant_csv_id,area,full_address) VALUES (%s, %s, %s, %s, %s)"
    val_add = (row['cityId'], index+1 ,row['id'], row['address'], row['fullAddress'])
    cursor.execute(sql_add, val_add)
    db.commit()

In [ ]:
restaurant.columns

In [ ]:
for index, row in restaurant.iterrows() :
    sal_rating = ""
    val_rating = ""
    sql_rating = "INSERT INTO rating (restaurant_id, restaurant_csv_id,rate,rate_count) VALUES (%s,%s, %s, %s)"
    val_rating = (index+1 ,row['id'], row['rate'], row['rateCount'])
    cursor.execute(sql_rating, val_rating)
    db.commit()

In [ ]:
restaurant.columns

In [165]:
menu.columns

Index(['id', 'food', 'price', 'ingredient'], dtype='object')

In [166]:
for index, row in menu.iterrows() :
    sal_menu = ""
    val_menu = ""
    sql_menu = "INSERT INTO menu (restaurant_id, restaurant_csv_id,food_title,price, ingredient) VALUES (%s, %s,%s, %s, %s)"
    val_menu = (row['id'], row['food'], row['price'], row['ingredient'])
    cursor.execute(sql_menu, val_menu)
    db.commit()

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`dbdelino`.`menu`, CONSTRAINT `menu_ibfk_1` FOREIGN KEY (`restaurant_id`) REFERENCES `restaurant_info` (`restaurant_id`))