In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import text
from urllib.parse import quote_plus

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
menu = pd.read_csv('menu.csv')

In [ ]:
restaurant = pd.read_csv('delino_api_data_csv.csv')

In [ ]:
host = "37.32.5.76:3306"
user = "user_group11"
password = quote_plus('LWAP4tMpW2*#$Geg')
db = "delino_db"
engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{db}")

In [ ]:
connection = engine.connect()
res = connection.execute(text("show tables;"))
res.all()

In [ ]:
connection = engine.connect()
query = "CREATE TABLE city(city_id INT AUTO_INCREMENT PRIMARY KEY,city_name VARCHAR(100), city_code VARCHAR(100))"
connection.execute(query)
res = connection.execute(text("show tables;"))
res.all()

In [ ]:
connection = engine.connect()
query = "CREATE TABLE restaurant_info(restaurant_id INT PRIMARY KEY,restaurant_csv_id VARCHAR(100),name VARCHAR(100),delivery_duration VARCHAR(100),res_type VARCHAR(100))"
connection.execute(query)
res = connection.execute(text("show tables;"))
res.all()

In [ ]:
connection = engine.connect()
query = "CREATE TABLE address(address_id INT AUTO_INCREMENT PRIMARY KEY,city_id INT,restaurant_id INT,restaurant_csv_id VARCHAR(100),area VARCHAR(100),full_address TEXT,FOREIGN KEY (`city_id`) REFERENCES `city` (`city_id`),FOREIGN KEY (`restaurant_id`) REFERENCES `restaurant_info` (`restaurant_id`))"
connection.execute(query)
res = connection.execute(text("show tables;"))
res.all()

In [ ]:
connection = engine.connect()
query = "CREATE TABLE rating(rating_id INT AUTO_INCREMENT PRIMARY KEY,restaurant_id INT,restaurant_csv_id VARCHAR(100),rate VARCHAR(100),rate_count VARCHAR(100),FOREIGN KEY (`restaurant_id`) REFERENCES `restaurant_info` (`restaurant_id`))"
connection.execute(query)
res = connection.execute(text("show tables;"))
res.all()

In [ ]:
connection = engine.connect()
query = "CREATE TABLE menu(menu_id INT AUTO_INCREMENT PRIMARY KEY,restaurant_id INT,restaurant_csv_id VARCHAR(100), food_title VARCHAR(100),price VARCHAR(100),ingredient TEXT,FOREIGN KEY (`restaurant_id`) REFERENCES `restaurant_info` (`restaurant_id`))"
connection.execute(query)
res = connection.execute(text("show tables;"))
res.all()

In [ ]:
city  = [
    { 'name': 'tehran', 'code' : 1},
    { 'name': 'qom', 'code' : 1003},
    { 'name': 'bandarabas', 'code' : 1005},
    { 'name': 'karaj', 'code' : 1007},
    { 'name': 'rasht', 'code' : 1008},
    { 'name': 'gorgan', 'code' : 1009},
    { 'name': 'hamedan', 'code' : 1011},
    { 'name': 'yazd', 'code' : 1012},
    { 'name': 'oroumiye', 'code' : 1013},
    { 'name': 'gonbad kavoos', 'code' : 1015},
    { 'name': 'arak', 'code' : 1033},
]

In [ ]:
connection = engine.connect()
for i in range(len(city)) :
    sal_city = ""
    val_city = ""
    sql_city = "INSERT INTO city (city_name,city_code ) VALUES (%s, %s)"
    val_city = (city[i]['name'], city[i]['code'])
    connection.execute(sql_city, val_city)

In [ ]:
restaurant.columns

In [ ]:
for index, row in restaurant.iterrows() :
    sal_res = ""
    val_res = ""
    sql_res = "INSERT INTO restaurant_info (restaurant_id,restaurant_csv_id,name,delivery_duration,res_type) VALUES (%s, %s, %s, %s, %s)"
    val_res = (index+1,row['id'], row['name'], row['deliveryDuration'], row['typeId'])
    connection.execute(sql_res, val_res)

In [ ]:
restaurant.columns

In [ ]:
for index, row in restaurant.iterrows() :
    sal_add = ""
    val_add = ""
    sql_add = "INSERT INTO address (city_id,restaurant_id,restaurant_csv_id,area,full_address) VALUES (%s, %s, %s, %s, %s)"
    val_add = (row['cityId'], index+1 ,row['id'], row['address'], row['fullAddress'])
    connection.execute(sql_add, val_add)

In [ ]:
restaurant.columns

In [ ]:
for index, row in restaurant.iterrows() :
    sal_rating = ""
    val_rating = ""
    sql_rating = "INSERT INTO rating (restaurant_id, restaurant_csv_id,rate,rate_count) VALUES (%s,%s, %s, %s)"
    val_rating = (index+1 ,row['id'], row['rate'], row['rateCount'])
    connection.execute(sql_rating, val_rating)

In [ ]:
restaurant.columns

In [ ]:
menu.columns

In [ ]:
for index, row in menu.iterrows() :
    sal_menu = ""
    val_menu = ""
    sql_menu = "INSERT INTO menu (restaurant_csv_id,food_title,price, ingredient) VALUES ( %s,%s, %s, %s)"
    val_menu = (row['id'], row['food'], row['price'], row['ingredient'])
    connection.execute(sql_menu, val_menu)